# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Training outputs
work_dirs/
outputs/
logs/

# Dataset archives
*.tgz
*.tar
*.tar.gz
*.zip

# Remvoe specific folder
archive/
data/
cache/

# Remove specific file 
notebooks/nuscenes_tutorial.ipynb
notebooks/nuscenes_lidarseg_panoptic_tutorial.ipynb




external/mmdetection3d/
